@import "tailwindcss";

.wrapper {
  max-width: 1360px;
  margin: 0 auto;
  padding-inline: 1rem;
}

.full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
